{% extends 'base.html.twig' %}

{% block title %}Ministry index{% endblock %}

{% block body %}
    <h1>Ministry index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>IsActive</th>
                <th>Hashkey</th>
                <th>Identificador</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ministry in ministries %}
            <tr>
                <td>{{ ministry.id }}</td>
                <td>{{ ministry.name }}</td>
                <td>{{ ministry.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ ministry.hashkey }}</td>
                <td>{{ ministry.identificador }}</td>
                <td>
                    <a href="{{ path('ministry_show', {'id': ministry.id}) }}">show</a>
                    <a href="{{ path('ministry_edit', {'id': ministry.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ministry_new') }}">Create new</a>
{% endblock %}
