{% extends 'base.html.twig' %}

{% block title %}ValorRespuesta index{% endblock %}

{% block body %}
    <h1>ValorRespuesta index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Respuesta</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for valor_respuestum in valor_respuestas %}
            <tr>
                <td>{{ valor_respuestum.id }}</td>
                <td>{{ valor_respuestum.respuesta }}</td>
                <td>{{ valor_respuestum.createdAt ? valor_respuestum.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ valor_respuestum.updatedAt ? valor_respuestum.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('valor_respuesta_show', {'id': valor_respuestum.id}) }}">show</a>
                    <a href="{{ path('valor_respuesta_edit', {'id': valor_respuestum.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('valor_respuesta_new') }}">Create new</a>
{% endblock %}
