{% extends 'base.html.twig' %}

{% block title %}ValorRespuesta{% endblock %}

{% block body %}
    <h1>ValorRespuesta</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ valor_respuestum.id }}</td>
            </tr>
            <tr>
                <th>Respuesta</th>
                <td>{{ valor_respuestum.respuesta }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ valor_respuestum.createdAt ? valor_respuestum.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ valor_respuestum.updatedAt ? valor_respuestum.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('valor_respuesta_index') }}">back to list</a>

    <a href="{{ path('valor_respuesta_edit', {'id': valor_respuestum.id}) }}">edit</a>

    {{ include('valor_respuesta/_delete_form.html.twig') }}
{% endblock %}
